#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #161616;
}

.mainPage {
    flex-grow: 1;
}


.fondoVerde {
    background-color: #C0FF0D;
}

.Logo {
    width: 100px;
}

.contenedorSearch {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.contenedorSearch i {
    font-size: 18px;
    color: #999999;
    margin-left: 5px;
}

.contenedorSearch input {
    border: none;
    outline: none;
    padding: 0 5px;
    font-size: 18px;
}

@media (min-width: 988px) {
    .contenedorSearch {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }

    .contenedorSearch i {
        margin-left: 0px;
        color: #fff;
        cursor: pointer;
    }

    .contenedorSearch input {
        width: 0;
        display: none;
    }

    .contenedorSearch:hover {
        width: 180px;
        border-radius: 5px;
        background-color: #fff;
        padding-left: 7px;
        transition: .3s;
    }

    .contenedorSearch:hover i {
        color: #999;
    }

    .contenedorSearch:hover input {
        width: 100%;
        display: block;
        padding: 0 8px;
    }
}